body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    background-color: yellow;
    gap: 16px;
    padding: 32px;
}

.container {
    display: flex;
}

.numbers, .operators{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    
}

.operators {
    margin-right: -32px;
}

.numbers > div {
    background-color: aqua;
    border: 2px solid black;
    padding: 16px;
    width: 60px;
    text-align: center;
}

.operators > div {
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 16px;
    width: 15px;
}

.screen {
    background-color: darkgray;
    border: 2px solid black;
    padding: 64px 128px;
    margin-bottom: 32px;
    display: flex;
    gap: 8px;
    width: 130px;
    height: 55px;
}

#clear {
    background-color: greenyellow;
}

#equals{
    background-color: aquamarine;
    width: 15px;
    margin-right: 16px;
    text-align: center;
}

#answer {
    width: 130px;
    height: 55px;
    text-align: right;
    color: red;
    text-shadow: 
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}